<!DOCTYPE html>
<html>
<head>
	<title>Button</title>
	<link rel="stylesheet" type="text/css" href="../assets/libs/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/button.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="button-container">
				<a class="button button-wrapper">button</a>
			</div>
			<div class="button-container">
				<a class="button button-wrapper"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>button</a>
			</div>
			<div class="button-container">
				<a class="button button-wrapper">button<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="button-container">
				<a class="button button-wrapper disabled">button</a>
			</div>
			<div class="button-container">
				<a class="button button-wrapper disabled">button<i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="button-container">
				<a class="button button-circle-wrapper"><i class="fa fa-thumbs-o-up icon-button" aria-hidden="true"></i></a>
			</div>
			<div class="button-container">
				<a class="button button-circle-wrapper disabled"><i class="fa fa-thumbs-o-up icon-button" aria-hidden="true"></i></a>
			</div>
			<div class="button-container">
				<a class="button button-square-wrapper"><i class="fa fa-thumbs-o-up icon-button" aria-hidden="true"></i></a>
			</div>
			<div class="button-container">
				<a class="button button-square-wrapper disabled"><i class="fa fa-thumbs-o-up icon-button" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row">
			<div class="button-container">
				<a class="button button-wrapper button-succes ">button</a>
			</div>
			<div class="button-container">
				<a class="button button-wrapper button-succes "><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>button</a>
			</div>
		</div>
		<div class="row">
			<div class="button-container">
				<a class="button button-wrapper button-danger ">button</a>
			</div>
			<div class="button-container">
				<a class="button button-wrapper button-danger "><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>button</a>
			</div>
		</div>
		<div class="row">
			<div class="button-container">
				<a class="button button-wrapper button-warning ">button</a>
			</div>
			<div class="button-container">
				<a class="button button-wrapper button-warning "><i class="fa fa-hand-paper-o" aria-hidden="true"></i>button</a>
			</div>
		</div>
		<div class="row">
			<div class="button-container">
				<a class="button button-wrapper button-info ">button</a>
			</div>
			<div class="button-container">
				<a class="button button-wrapper button-info "><i class="fa fa-info-circle" aria-hidden="true"></i>button</a>
			</div>
		</div>
	</div>
</body>
</html>