<!DOCTYPE html>
<html>
<head>
	<title>Carousel</title>
	<link rel="stylesheet" type="text/css" href="../assets/libs/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/carousel.css">
	<script type="text/javascript" src="../assets/libs/jquery/dist/jquery.min.js"></script>
</head>
<body>
	
		<section class="demo">
	  		<button class="next">Next</button>
	  		<button class="prev">Previous</button>
	 		<div class="container">
	    		<div style="display: inline-block;">
	      			<img src="https://placeimg.com/400/200/people"/>
	    		</div>
	    		<div>
	     			<img src="https://placeimg.com/400/200/any"/>
	    		</div>
	    		<div>
	      			<img src="https://placeimg.com/400/200/nature"/>
	    		</div>
	    		<div>
	      			<img src="https://placeimg.com/400/200/architecture"/>
	    		</div>
	    		<div>
	      			<img src="https://placeimg.com/400/200/animals"/>
	    		</div>
	    		<div>
	      			<img src="https://placeimg.com/400/200/people"/>
	    		</div>
	    		<div>
	      			<img src="https://placeimg.com/400/200/tech"/>
	    		</div>
	  		</div>
		</section>

			

	<script type="text/javascript" src="../app/carousel.js"></script>
</body>
</html>