<!DOCTYPE html>
<html>
<head>
	<meta charset="<?php bloginfo('charset'); ?>">
	<title>Carousel</title>
	<link rel="stylesheet" type="text/css" href="../assets/libs/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/carousel.css">
	<script type="text/javascript" src="../assets/libs/jquery/dist/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<section class="carousel-wrapper col-lg-offset-2 col-lg-8">
		  		<a class="button-carousel next"><i class="fa fa-chevron-right fa-1x" aria-hidden="true"></i></a>
		  		<a class="button-carousel prev"><i class="fa fa-chevron-left fa-1x" aria-hidden="true"></i></a>
		 		<div class="container-carousel col-lg-offset-1 col-lg-10">
		    		<div style="display: inline-block;">
		      			<img src="../assets/img/picture1.jpg"/>
		    		</div>
		    		<div>
		     			<img src="../assets/img/picture2.jpg"/>
		    		</div>
		    		<div>
		      			<img src="../assets/img/picture3.jpg"/>
		    		</div>
		  		</div>
		  		<div class="progress-slider">
		  		</div>
			</section>
		</div>
	</div>
	
	<script type="text/javascript" src="../app/carousel.js"></script>
</body>
</html>