<html>
<head>
	<title>Form</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/form.css">
</head>
<body>
	
	<div class="container">
		<div class="row">
			<form class="form-wrapper">
				<div class="row">
					<div class="input-field col-lg-6">
						<input id="firstName" type="text" placeholder="First Name">	
					</div>
					<div class="input-field col-lg-6">
						<input id="lastName" type="text" placeholder="Last Name">	
					</div>
				</div>
				<div class="row">
					<div class="input-field col-lg-12">
						<input id="email" type="email" placeholder="Email">
					</div>
				</div>
				<div class="row">
					<div class="input-field col-lg-6">
						<input id="password" type="password" placeholder="Password">
					</div>
					<div class="input-field col-lg-6">
						<input id="passwordRepet" type="password" placeholder="Password">
					</div>
				</div>
				<div class="row">
					<div class="input-field col-lg-12">
						<input id="address" type="text" placeholder="Address">
					</div>
				</div>
				<div class="row">
					<div class="input-field col-lg-6">
						<input id="phone" type="text" placeholder="Phone">
					</div>
					<div class="input-field col-lg-6">
						<div class="input-radio-field">
							<input id="m" type="radio" name="gender">
							<label for"m">Male</label>
						</div>
						<div class="input-radio-field" >
							<input id="f" type="radio" name="gender">
							<label for"f">Female</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="submit-button">
						<a id="submit"> Submit </a> 
					</div>
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript" src="../app/form.js"></script>

</body>
</html>