<!DOCTYPE html>
<html>
<head>
	<title>Form icon</title>
	<link rel="stylesheet" type="text/css" href="../assets/libs/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/grid.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/form.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<form class="form-wrapper">
				<div class="row">
					<div class="input-field-icon col-lg-6">
						<i class="normal-icon fa fa-user fa-2x"></i>
						<input id="firstName" type="text">
					</div>
					<div class="input-field-icon col-lg-6">
						<input id="lastName" type="text">
					</div>
				</div>
				<div class="row">
					<div class="input-field-icon col-lg-12">
						<i class="normal-icon fa fa-envelope fa-lg"></i>
						<input id="email" type="email">
					</div>
				</div>
				<div class="row">
					<div class="input-field-icon col-lg-6">
						<i class="normal-icon fa fa-unlock-alt fa-2x" aria-hidden="true"></i>
						<input id="password" type="password">
					</div>
					<div class="input-field-icon col-lg-6">
						<input id="passwordRepet" type="password">
					</div>
				</div>
				<div class="row">
					<div class="input-field-icon col-lg-12">
						<i class="normal-icon fa fa-home fa-2x" aria-hidden="true"></i>
						<input id="address" type="text">
					</div>
				</div>
				<div class="row">
					<div class="input-field-icon col-lg-6">
						<i class="normal-icon fa fa fa-phone fa-2x" aria-hidden="true"></i>
						<input id="phone" type="text">
					</div>
					<div class="input-field-icon col-lg-6">
						<div class="input-radio-field">
							<input id="m" type="radio" name="gender">
							<label for"m"><i class="radio-icon fa fa-male fa-2x"></i></label>
						</div>
						<div class="input-radio-field" >
							<input id="f" type="radio" name="gender">
							<label for"f"><i class="radio-icon fa fa-female fa-2x"></i></label>
						</div>
					</div>

				</div>
				<div class="row">
					<div class="submit-button">
						<a id="submit"> <i class="first fa fa-paper-plane"></i>Submit </a> 
					</div>
				</div>
			</form>	
		</div>
	</div>

	<script type="text/javascript" src="../app/form.js"></script>
</body>
</html>