.carousel-wrapper {
  position: relative;
}

.container-carousel {
  background-color: black;
  margin: 0 auto;
  text-align: center;
}
.container-carousel div {
  max-height: 400px;
  background-color: white;
  display: inline-block;
  display: none;
  overflow: hidden;
}

.container-carousel img {
  display: block;
  /* Otherwise it keeps some space around baseline */
  width: 100%;
  /* Scale up to fill container width */
  height: 100%;
  /* Scale up to fill container height */
  -ms-interpolation-mode: bicubic;
  padding: 0px;
  overflow: hidden;
}

.button-carousel {
  position: absolute;
}

.next {
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
}

.prev {
  top: 50%;
  left: 7px;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
      .container-carousel div {
        height: 250px;
      }
    
    }

