.container *{
	box-sizing:border-box;
}
.container{
	display: block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.row{
	display: table;
	width: 100%;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, 
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
	display: inline-block;
	vertical-align: top;
} 

@media screen and (min-width: 1200px){
	.container{
		width: 100%;
	}
	.col-lg-1{
		width: calc(100% / 12);
	}
	.col-lg-2{
		width: calc(100% / 6);
	}
	.col-lg-3{
		width: calc(100% / 4);
	}
	.col-lg-4{
		width: calc(100% / 3);
	}
	.col-lg-5{
		width: calc(100% / (12/5));
	}
	.col-lg-6{
		width: calc(100% / 2);
	}
	.col-lg-7{
		width: calc(100% / (12/7));
	}
	.col-lg-8{
		width: calc(100% / (12/8));
	}
	.col-lg-9{
		width: calc(100% / (12/9));
	}
	.col-lg-10{
		width: calc(100% / 1.2);
	}
	.col-lg-11{
		width: calc(100% / (12/11) );
	}
	.col-lg-12{
		width: calc(100% / 1);
	}

	.col-lg-offset-1 {
		margin-left: calc(100% / 12) !important;
	}

	.col-lg-offset-2 {
		margin-left: calc(100% / 6) !important;
	}
	.col-lg-offset-3 {
		margin-left: calc(100% / 4) !important;
	}
	.col-lg-offset-4 {
		margin-left: calc(100% /3) !important;
	}
	.col-lg-offset-5 {
		margin-left: calc(100% / (12/5)) !important;
	}
	.col-lg-offset-6 {
		margin-left: calc(100% / 2) !important;
	}
	.col-lg-offset-7 {
		margin-left: calc(100% / (12/7)) !important;
	}
	.col-lg-offset-8{
		margin-left: calc(100% / (12/8)) !important;
	}
	.col-lg-offset-9{
		margin-left: calc(100% / (12/9)) !important;
	}
	.col-lg-offset-10{
		margin-left: calc(100% / 1.2) !important;
	}
	.col-lg-offset-11{
		margin-left: calc(100% / (12/11)) !important;
	}
	.col-lg-offset-12{
		margin-left: calc(100% / 1) !important;
	}
	.hide-on-lg {
		display: none;
	}

}
@media screen and (min-width: 992px) and (max-width: 1199px){
	.container{
		width: 100%;
	}
	.col-md-1{width: calc(100% / 12);}
	.col-md-2{width: calc(100% / 6);}
	.col-md-3{width: calc(100% / 4);}
	.col-md-4{width: calc(100% / 3);}
	.col-md-5{width: calc(100% / (12/5));}
	.col-md-6{width: calc(100% / 2);}
	.col-md-7{width: calc(100% / (12/7));}
	.col-md-8{width: calc(100% / (12/8));}
	.col-md-9{width: calc(100% / (12/9));}
	.col-md-10{width: calc(100% / (12/10));}
	.col-md-11{width: calc(100% / (12/11));}
	.col-md-12{width: 100%;}
	.col-md-offset-1{margin-left: calc(100% / 12)!important;}
	.col-md-offset-2{margin-left: calc(100% / 6)!important;}
	.col-md-offset-3{margin-left: calc(100% / 4)!important;}
	.col-md-offest-4{margin-left: calc(100% / 3)!important;}
	.col-md-offset-5{margin-left: calc(100% / (12/5))!important;}
	.col-md-oofset-6{margin-left: calc(100% / 2)!important;}
	.col-md-offset-7{margin-left: calc(100% / (12/7))!important;}
	.col-md-offset-8{margin-left: calc(100% / (12/8))!important;}
	.col-md-offset-9{margin-left: calc(100% / (12/9))!important;}
	.col-md-offset-10{margin-left: calc(100% / (12/10))!important;}
	.col-md-offset-11{margin-left: calc(100% / (12/11))!important;}
	.col-md-offset-12{margin-left: 100% !important;}
	.hide-on-md {
		display: none;
	}


}
@media screen and (min-width: 768px) and (max-width: 991px){
	.container{
		width: 100%;
	}
	.col-sm-1{width: calc(100% / 12);}
	.col-sm-2{width: calc(100% / 6);}
	.col-sm-3{width: calc(100% / 4);}
	.col-sm-4{width: calc(100% / 3);}
	.col-sm-5{width: calc(100% / (12/5));}
	.col-sm-6{width: calc(100% / 2);}
	.col-sm-7{width: calc(100% / (12/7));}
	.col-sm-8{width: calc(100% / (12/8));}
	.col-sm-9{width: calc(100% / (12/9));}
	.col-sm-10{width: calc(100% / (12/10));}
	.col-sm-11{width: calc(100% / (12/11));}
	.col-sm-12{width: 100%;}
	.col-sm-offset-1{margin-left: calc(100% / 12) !important;}
	.col-sm-offset-2{margin-left: calc(100% / 6) !important;}
	.col-sm-offset-3{margin-left: calc(100% / 4) !important;}
	.col-sm-offset-4{margin-left: calc(100% / 3) !important;}
	.col-sm-offset-5{margin-left: calc(100% / (12/5)) !important;}
	.col-sm-offset-6{margin-left: calc(100% / 2) !important;}
	.col-sm-offset-7{margin-left: calc(100% / (12/7)) !important;}
	.col-sm-offset-8{margin-left: calc(100% / (12/8)) !important;}
	.col-sm-offset-9{margin-left: calc(100% / (12/9)) !important;}
	.col-sm-offset-10{margin-left: calc(100% / (12/10)) !important;}
	.col-sm-offset-11{margin-left: calc(100% / (12/11)) !important;}
	.col-sm-offset-12{margin-left: 100% !important;}
	.hide-on-sm {
		display: none;
	}


}
@media screen  and (max-width: 767px){
	.container{
		width: 100%;
	}
	.col-xs-1{width: calc(100% / 12);}
	.col-xs-2{width: calc(100% / 6);}
	.col-xs-3{width: calc(100% / 4);}
	.col-xs-4{width: calc(100% / 3);}
	.col-xs-5{width: calc(100% / (12/5));}
	.col-xs-6{width: calc(100% / 2);}
	.col-xs-7{width: calc(100% / (12/7));}
	.col-xs-8{width: calc(100% / (12/8));}
	.col-xs-9{width: calc(100% / (12/9));}
	.col-xs-10{width: calc(100% / (12/10));}
	.col-xs-11{width: calc(100% / (12/11));}
	.col-xs-12{width: 100%;}
	.col-xs-offset-1{margin-left: calc(100% / 12) !important;}
	.col-xs-offset-2{margin-left: calc(100% / 6) !important;}
	.col-xs-offset-3{margin-left: calc(100% / 4) !important;}
	.col-xs-offset-4{margin-left: calc(100% / 3) !important;}
	.col-xs-offset-5{margin-left: calc(100% / (12/5)) !important;}
	.col-xs-offset-6{margin-left: calc(100% / 2) !important;}
	.col-xs-offset-7{margin-left: calc(100% / (12/7)) !important;}
	.col-xs-offset-8{margin-left: calc(100% / (12/8)) !important;}
	.col-xs-offset-9{margin-left: calc(100% / (12/9)) !important;}
	.col-xs-offset-10{margin-left: calc(100% / (12/10)) !important;}
	.col-xs-offset-11{margin-left: calc(100% / (12/11)) !important;}
	.col-xs-offset-12{margin-left: 100% !important;}
	.hide-on-xs {
		display: none;
	}
}

